body {
    background-color:  #fff;
    color: #23395B;
}

h1,h2,h3,h4,h5,p {
  font-family: 'Roboto Mono', 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;
}

.equal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

div[class*='col-'] {
  flex:1 1 auto;
  display: flex;
}

.section {
  flex:1 0 100%;
}

.container {
  max-width: 1400px;
}

.section {
    padding-top: 100px;
    padding-bottom: 150px;
    margin-top: -100px;
}

.section.inverse {
    background-color: #fff;
    color: #2b9bbf;
}

.section h1 {
    padding-top: 30px;
}

.section ul {
    padding-left: 20px;
    font-size: 1.2em;
}

.section ul.black {
    color: #444;
}

section.side-panel {
  display: block;
  padding-top: 20px;
  background-color: #23395B;
  color: #fff;
}

section.side-panel blockquote {
  border-right: 5px solid #fff;
}

section.side-panel blockquote h5 {
  color: #FFE542;
}
section.side-panel blockquote a, a:hover, a:focus {
  color: #FFE542;
}

section.side-panel blockquote h5 span.white {
  color: #fff;
  line-height: 2;
}

section.side-panel blockquote.pull-right small {
  color: #fff;
}

.navbar-header img {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}

#job-desc {
  float: left !important;
  line-height: 1.3em;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#name {
    color: #23395B;
    float: left;
    margin: 0;
    font-weight: lighter;
    padding-top: 20px;
}

#navbar-main .nav {
    padding-top: 20px;
}

#navbar-main .navbar-nav>li>a {
    font-weight: bold;
}

#navbar-main .navbar-nav>li.active>a {
    border-bottom: 1px solid #2b9bbf;
}

.navbar-text, .navbar-toggle {
    color: #444;
    line-height: 2em;
}

.more {
    cursor: pointer;
}

.more:hover, .more:focus {
    background-color: #3071a9;
}

blockquote {
    margin-top: 20px;
    border-left: 5px solid #3a5a77;
}

blockquote p {
    font-size: 14px;
    margin-left: 40px;
    font-weight: normal;
    line-height: 1.4em;
}

blockquote h4 {
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

blockquote h5 {
    color: #3a5a77;
    line-height: 1.25;
    font-size: 15px;
}

blockquote > h5 > a, a:hover, a:focus {
    color: #3a5a77;
    line-height: 1.25;
    font-weight: bold;

}

blockquote h5 span.white {
    color: #3a5a77;
}

.interest blockquote h5 small {
    display: inline;
    color: #fff;
}

/*
.list-group {
    color: #444;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}

.list-group .badge {
    color: #FFE542;
    background-color:#2b9bbf;
}*/

.badge {
  background-color: #3a5a77;
  padding: 10px;
  margin-bottom: 10px;
}

blockquote .career-keyword {
  margin-left: 40px;
  margin-bottom: 20px;
}

blockquote .career-keyword>.badge {
}

blockquote .career-keyword>.badge:before {
  content: "# ";
}

blockquote .career-keyword>.badge-role {
  background-color: #7f95A1;
}

blockquote .career-keyword>.badge-role:before {
  content: "@ ";
}

.glyphicon {
  margin-left: 5px;
}

.glyphicon-star-3:before {
    content: "\e006\e006\e006";
}

.glyphicon-star-2:before {
    content: "\e006\e006";
}

.glyphicon-star-1:before {
    content: "\e006";
}


footer {
    text-align: center;
}
